TalkNotesFront/Connected Services/Services/TalkNoteService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49857/TalkNoteService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TalkNotesBack" />
  <xs:element name="GetTalkNoteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="talkNoteID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTalkNoteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TalkNotesBack" minOccurs="0" name="GetTalkNoteByIDResult" nillable="true" type="q1:TalkNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAll">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TalkNotesBack" minOccurs="0" name="GetAllResult" nillable="true" type="q2:ArrayOfTalkNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>