TalkNotesFront/Connected Services/Services/TalkNoteService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TalkNotesBack" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TalkNotesBack" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TalkNote">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TalkNoteID" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TalkNote" nillable="true" type="tns:TalkNote" />
  <xs:complexType name="ArrayOfTalkNote">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TalkNote" nillable="true" type="tns:TalkNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTalkNote" nillable="true" type="tns:ArrayOfTalkNote" />
</xs:schema>